.app
  &__row
    margin-bottom: 32px

.app-error
  width: 100%
  max-width: 800px
  margin: 0 auto
  padding: 24px
  height: 100vh
  overflow: hidden
  display: flex
  justify-content: center
  align-items: center
  